.map-section {
    height: 300px;
    width: 100%;
}

.error {
    margin: 0px !important;
    padding: 0px !important;
    color: red !important;
    font-size: 12px !important;
    margin-top: 5px !important;
}