* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
  }
  
  .registration-container {
    display: flex;
    width: 70%;
    // height: 90vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
  
    .registration-image {
      flex: 1;
      background-color: #3a3b3c;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .registration-form {
      flex: 1;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;
      overflow: auto;
  
      h2 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        label {
          font-size: 14px;
          color: #666;
          margin-bottom: 5px;
        }
  
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="file"] {
          padding: 10px;
          font-size: 14px;
          margin-bottom: 15px;
          border: 1px solid #ddd;
          border-radius: 5px;
  
          &:focus {
            outline: none;
            border-color: #5b9df9;
            box-shadow: 0 0 5px rgba(91, 157, 249, 0.5);
          }
        }
  
        button {
          padding: 10px;
          background-color: #5b9df9;
          color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #4a8fe0;
          }
        }
      }
  
      .password-container {
        position: relative;

        input {
            width: 100%
        }
  
        input[type="password"] {
          padding-right: 40px; // Leave space for the eye icon
        }
  
        .toggle-password {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          cursor: pointer;
          font-size: 18px;
          color: #666;
          user-select: none;
          transition: color 0.3s;
  
          &:hover {
            color: #333;
          }
        }
      }
  
      p {
        margin-top: 20px;
        font-size: 14px;
        color: #666;
        text-align: center;
  
        a {
          color: #5b9df9;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  

.auth-container {
    margin-top: 100px;
}